.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* главный экран */

.header_container {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.header_left {
  text-align: right;
  padding: 0 100px 0 100px;
  background: #e95258 url(../images/image1.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: #f9f9f9;
}

.header_right {
  padding: 0 100px 0 100px;
  background: #f9f9f9 url(../images/image2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #32495e;
}

.header_left_h1,
.header_right_h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 200px 0 50px 0;
}

.header_left_p,
.header_right_p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 30px 0;
}

.header_left_p {
  padding: 0 0 0 270px;
}

.header_right_p {
  padding: 0 270px 0 0;
}

button {
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px 30px;
  text-align: center;
  background-color: unset;
  margin: 0 0 100px 0;
}

.header_left_button {
  border: 1px solid #f9f9f9;
}

.header_left_button a,
.header_right_button a {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header_left_button a {
  color: #f9f9f9;
}

.header_right_button {
  border: 1px solid #32495e;
}

.header_right_button a {
  color: #32495e;
}

.header-ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 95px 0;
  padding: 0 0 0 17px;
  line-height: 1.8;
}

.li_left {
  list-style: none;
  text-align: right;
}
.li_left:after {
  content: "\25CB";
  padding-left: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .header_left {
    padding: 0 40px 0 100px;
  }
  .header_right {
    padding: 0 100px 0 40px;
  }
  .header_left_h1,
  .header_right_h1 {
    font-size: 24px;
    margin: 150px 0 50px 0;
  }
  .header_left_p,
  .header_right_p {
    font-size: 13px;
    margin: 0 0 20px 0;
  }

  .header_left_p {
    padding: 0 0 0 220px;
  }

  .header_right_p {
    padding: 0 220px 0 0;
  }
  .header-ul {
    margin: 40px 0 80px 0;
  }
}

@media screen and (max-width: 1010px) {
  .container {
    max-width: 100%;
  }
  .header_container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .header_left {
    padding: 0 70px;
  }
  .header_right {
    padding: 0 70px;
  }
  .header_left_h1,
  .header_right_h1 {
    font-size: 30px;
    margin: 150px 0 50px 0;
  }
  .header_left_p,
  .header_right_p {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .header_left_p {
    padding: 0 0 0 250px;
    line-height: 25px;
  }

  .header_right_p {
    padding: 0 250px 0 0;
    line-height: 25px;
  }
  .header-ul {
    font-size: 18px;
  }
}

@media screen and (max-width: 665px) {
  .container {
    max-width: 100%;
  }
  .header_container {
    flex-wrap: wrap;
  }
  .header_left {
    padding: 0 50px 0 50px;
    background: #e95258;
    text-align: center;
  }
  .header_right {
    padding: 0 50px 0 50px;
    background: #f9f9f9;
    text-align: center;
  }
  .header_left_h1,
  .header_right_h1 {
    font-size: 30px;
    margin: 100px 0 50px 0;
  }
  .header_left_p,
  .header_right_p {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  .header_left_p {
    padding: 10px;
    line-height: 25px;
  }
  .header_right_p {
    padding: 10px;
    line-height: 25px;
  }
  .li_left {
    list-style: none;
    text-align: center;
  }
  .header-ul {
    list-style-position: inside;
  }
}
/* конец главного экрана */

/* карта */
.container_map {
  background: #f9f9f9;
  padding: 40px 100px 70px;
}

#map {
  /* position: relative; */
  text-align: center;
}

/* #map::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;

  background-color: #176bd933;
} */

.container_map h1,
.contacs h3,
.contacs p {
  font-family: "Nunito", sans-serif;
  color: #32495e;
}

.container_map h1 {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
}

.contacs h3 {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.contacs p {
  margin-bottom: -12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contacs {
  display: flex;
  justify-content: left;
}

.contacs_section {
  width: 22%;
  margin: 20px 60px 0 0;
}

@media screen and (max-width: 1010px) {
  .container {
    max-width: 100%;
  }
  .container_map {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 50px;
  }
  .contacs h3 {
    font-size: 20px;
  }
  .contacs p {
    font-size: 18px;
  }
  .contacs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacs_section {
    width: 40%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 665px) {
  .container {
    max-width: 100%;
  }
  .container_map {
    padding: 10px 30px;
  }
  .contacs h3 {
    font-size: 20px;
  }
  .contacs p {
    font-size: 18px;
  }
  .contacs {
    flex-wrap: wrap;
  }
  .contacs_section {
    width: 100%;
    margin: 20px 0;
  }
}
/* конец карты */

.footer {
  display: flex;
  background-color: #333333;
}

.section-one {
}

.section-two {
}
