.container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}

/* навбар */
.container_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 50%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #32495e;
}

.logo-image2 {
  width: 70px;
  height: 45px;
  margin: 0 14px;
  background-image: url(../images/logo2.png);
}

.logo-name {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.navbar {
  background: #f9f9f9;
}

.container_navbar {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
}

.menu_body {
  flex: 50%;
  padding: 0;
}

.menu ul {
  list-style: none;
}

.menu > ul {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 43px;
}

.menu > ul li a {
  display: block;
  padding: 10px 13px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #32495e;
}

.menu a:hover {
  background: #32495e;
  color: #f9f9f9;
  transition: 0.2s ease;
}

.menu li ul {
  display: none;
  position: absolute;
  max-width: 210px;
  background: #f9f9f9;
}

.menu li:hover > ul {
  display: block;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: url(../images/image_menu.png);
  position: absolute;
  margin: 0 7px;
  margin-top: -2px;
}

.close_icon_menu,
.icon_menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu > ul {
    padding: 0;
  }
  .menu > ul li a {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    flex: 30%;
  }

  .logo-name {
    font-size: 17px;
    line-height: 30px;
  }

  .logo-image2 {
    margin: 0;
    background-size: 64.54%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu_body {
    flex: 70%;
  }

  .menu > ul li a {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .icon_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 30px;
    height: 21px;
    right: 0;
    margin: 0 0 0 20px;
    padding: 12px 10px;
    background: #32495e;
  }

  .icon_menu::before,
  .icon_menu::after {
    content: "";
    background: #f1f6ff;
    height: 2px;
    width: 26px;
  }

  .icon_menu span {
    height: 2px;
    width: 26px;
    background: #f1f6ff;
  }

  .close_icon_menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 100%;
    margin: 0 5px 0 20px;
  }

  .close_icon_menu::before,
  .close_icon_menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #32495e;
  }

  .close_icon_menu::before {
    transform: rotate(45deg);
  }

  .close_icon_menu::after {
    transform: rotate(-45deg);
  }

  .menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    max-height: 416px;
    overflow: auto;
    background: #32495e;
  }

  .navbar:target .menu {
    display: block;
  }

  .navbar:target .icon_menu {
    display: none;
  }

  .navbar:target .close-icon_menu {
    display: flex;
  }

  .menu > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 35px 50px 64px;
  }

  .menu > ul li a {
    color: #f1f6ff;
    padding: 13px 0;
  }

  .submenu a:hover {
    text-decoration: underline;
  }
}

/* конец навбара */

/* главный экран */
.header_container {
  display: flex;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to right, #e95258 50%, #f9f9f9 50%);
}

.header_container a {
  text-decoration: none;
}

.header_left {
  flex-grow: 1;
  text-align: right;
  background: url(../images/image1.png) no-repeat;
  background-position: left bottom;
  background-size: 60%;
  color: #f9f9f9;
}

.header_right {
  flex-grow: 1;
  background: url(../images/image2.png) no-repeat;
  background-position: right bottom;
  background-size: 64%;
  color: #32495e;
}

.header_left_h1,
.header_right_h1 {
  margin: 135px 0 50px 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
}

.header_left_h1 {
  padding: 0 100px 0 15%;
}

.header_right_h1 {
  padding: 0 15% 0 100px;
}

.header_left_p,
.header_right_p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.header_left_p {
  width: 30%;
  padding: 0 100px 0 55%;
}

.header_right_p {
  width: 30%;
  padding: 0 50% 0 100px;
}

.header-ul {
  margin: 30px 0 95px 0;
  padding: 0 0 0 117px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  list-style-type: circle;
}

.li_left {
  padding-right: 100px;
  list-style: none;
  text-align: right;
}

.li_left:after {
  content: "\25CB";
  padding-left: 10px;
}

button {
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px 30px;
  margin: 0 0 100px 0;
  text-align: center;
  background-color: unset;
}

/* .header_left button:hover {
  background-color: #f9f9f9;
  color: #e95258;
  transition: 0.2s ease;
} */

.header_left_button {
  margin-right: 100px;
  border: 1px solid #f9f9f9;
}

.header_left_button a,
.header_right_button a {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header_left_button a {
  color: #f9f9f9;
}
.header_right_button a {
  color: #32495e;
}

.header_right_button {
  margin-left: 100px;
  border: 1px solid #32495e;
}

/* .header_right_button:hover {
  background: #e95258;
  color: #f1f6ff;
  transition: 0.2s ease;
} */

@media screen and (max-width: 1200px) {
  .header_left_p {
    padding: 0 100px 0 51%;
  }
}

@media screen and (max-width: 992px) {
  .header_left {
    background: url(../images/image1_1.png) no-repeat;
    background-position: left bottom;
    background-size: 40%;
  }

  .header_right {
    background: url(../images/image2_2.png) no-repeat;
    background-position: right bottom;
    background-size: 55%;
  }

  .header_left_h1,
  .header_right_h1 {
    font-size: 18px;
    line-height: 24px;
    margin: 86px 0 26px 0;
  }

  .header_left_h1 {
    padding: 0 48px 0 15px;
  }

  .header_right_h1 {
    padding: 0 15px 0 48px;
  }

  .header_left_p,
  .header_right_p {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .header_left_p {
    width: 70%;
    padding: 0 48px 0 15%;
  }

  .header_right_p {
    width: 70%;
    padding: 0 15% 0 48px;
  }

  .header-ul {
    margin: 26px 0 46px 0;
    padding: 0 0 0 65px;
    font-size: 12px;
    line-height: 1.8;
  }

  .li_left {
    padding-right: 48px;
  }

  .header_left_button {
    margin-right: 48px;
  }

  .header_right_button {
    margin-left: 48px;
  }
}

@media screen and (max-width: 530px) {
  .header_container {
    flex-wrap: wrap;
    background: linear-gradient(#e95258 50%, #f9f9f9 50%);
  }

  .header_left,
  .header_right {
    text-align: left;
    background-image: none;
  }

  .header_left_h1,
  .header_right_h1 {
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px;
    margin: 30px 0 15px 0;
  }

  .header_left_p,
  .header_right_p {
    width: 90%;
    margin: 0 0 20px 0;
    padding: 0 15px;
    font-size: 12px;
    line-height: 15px;
  }

  .header-ul {
    margin: 25px 0 30px 0;
    padding: 0 0 0 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .header-ul li {
    margin-bottom: 8px;
  }

  .li_left {
    list-style: circle;
    text-align: left;
  }

  .li_left:after {
    content: none;
  }

  .header_left_button,
  .header_right_button {
    margin: 0 0 30px 15px;
  }

  .header_left_button a,
  .header_right_button a {
    font-size: 12px;
    line-height: 15px;
  }
}
/* конец главного экрана */

/*  блок "наши услуги" */

.columns__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 20px;
  margin-right: 0;
}

.subtitle__services {
  margin-top: 70px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
}

.section {
  width: 100%;
  height: 100%;
  color: #f9f9f9;
}

.section__services {
  background-color: #32495e;
  font-family: "Nunito", sans-serif;
}

.container__services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.services__columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .services__columns {
    max-width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .services__columns {
    max-width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .services__columns {
    max-width: none;
  }
}

.image {
  width: 100%;
  max-height: 240px;
}

.services__column {
  position: relative;
  display: block;
  margin: 5px;
  max-width: 279px;
  cursor: pointer;
}

.hover__item_first,
.hover__item_second,
.hover__item_third,
.hover__item_fourth {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 73, 94, 0.6);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.hover__title {
  background-color: #e95258;
  height: 50%;
}

.services__column:hover .hover__item_first {
  opacity: 1;
}

.services__column:hover .hover__item_second {
  opacity: 1;
}

.services__column:hover .hover__item_third {
  opacity: 1;
}

.services__column:hover .hover__item_fourth {
  opacity: 1;
}

.hover__item_first::before {
  content: url("assets/styles/Vector6.svg");
  display: flex;
  margin: auto;
}

.hover__item_second::before {
  content: url("assets/styles/Vector8.svg");
  display: flex;
  margin: auto;
}

.hover__item_third::before {
  content: url("assets/styles/Vector7.svg");
  display: flex;
  margin: auto;
}

.hover__item_fourth::before {
  content: url("assets/styles/Vector9.svg");
  display: flex;
  margin: auto;
}

.button {
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 70px;
  margin-top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 160px;
  height: 50px;
  background: transparent;
  color: #f9f9f9;
}

.button:hover {
  background-color: #e95258;
  transition: background-color 0.6s;
}

.container__button {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

/* конец блока "наши услуги" */

/* фото и видео */
.content {
  padding: 70px 0 0 0;
  position: relative;
  z-index: 0;
  background-color: #32495e;
}

.content::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 100%;
  top: 0;
  right: 14.36%;
  z-index: -1;
  background: #49647d;
}
.content::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 100%;
  top: 0;
  right: 22.79%;
  z-index: -1;
  background: #49647d;
}

.tab-container {
  padding: 0 15px;
}

.tab-container h1 {
  margin: 0;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
}

.tab-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tab-wrapper .tab-item,
.tab-wrapper input {
  display: none;
}

.tab-wrapper .tab-item {
  padding-top: 45px;
  order: 1;
}

.tab-wrapper label {
  padding: 0 0 4px 0;
  margin: 20px 40px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}

.tab-wrapper label:hover {
  color: #e95258;
  transition: 0.2s;
}

.tab-wrapper input:checked + label {
  border-bottom: 1px solid #e95258;
}

.tab-wrapper input:checked + label + .tab-item {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.item_image {
  position: relative;
  width: 291px;
  height: 180px;
}

.item_video {
  position: absolute;
  display: block;
  top: 78.44px;
  left: 25.44px;
  width: 24px;
  height: 24px;
  background: url(../images/image_video.png);
  z-index: 1;
}

.item_image:hover .item_video {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #32495e;
  opacity: 0.6;
}

.item_image:hover .overlay {
  display: none;
}

.item_image img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title_image {
  position: absolute;
  padding: 100px 20px 22px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
  opacity: 0.8;
  z-index: 1;
}

.item_image:hover .title_image {
  display: none;
}

.zoom_button {
  position: absolute;
  display: none;
  padding: 21px 45px;
  margin: 60px 67px;
  background: #32495e9a;
  /* opacity: 0.6; */
  border: 2px solid #f9f9f9b1;
  box-sizing: border-box;
  border-radius: 54px;
}

.zoom_button a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #f9f9f9;
  z-index: 1;
}

.item_image:hover .zoom_button {
  display: block;
}

.item_image:hover .zoom_button a {
  opacity: 1;
}

.button__container {
  text-align: center;
}

.tab-container_button {
  margin: 40px 0;
  padding: 16px 36px;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  border-radius: 25px;
}

.tab-container_button a {
  text-decoration: none;
  color: #f9f9f9;
}

.tab-container_button:hover {
  background-color: #e95258;
  transition: 0.2s;
}

@media screen and (max-width: 1400px) {
  .content__container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .content__container {
    max-width: 992px;
    padding: 0 15px;
  }
  .tab-item {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .content {
    padding: 60px 0;
  }
  .content::after {
    width: 5%;
  }
  .content::before {
    width: 5%;
  }
  .tab-container {
    padding: 0;
  }
  .tab-wrapper label {
    margin: 26px 40px 0 0;
  }
  .item_image {
    width: 184px;
    height: 180px;
  }
  .tab-container h1 {
    font-size: 34px;
  }
  .tab-wrapper .tab-item {
    padding-top: 30px;
  }
  .title_image {
    padding-left: 15px;
    font-size: 14px;
  }
  .item_video {
    left: 15px;
  }
  .zoom_button {
    margin: 72px 33px;
    padding: 12px 27px;
  }
  .zoom_button a {
    font-size: 12px;
  }
  .tab-container_button {
    margin: 26px 0 0 0;
    padding: 12px 27px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 530px) {
  .content {
    padding: 30px 0 0 0;
  }
  .content__container {
    padding: 0;
  }
  .tab-wrapper {
    justify-content: center;
  }
  .tab-container h1 {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }
  .tab-wrapper label {
    margin: 15px 30px 0;
    font-size: 12px;
    line-height: 15px;
  }
  .item_image {
    width: 107px;
    height: 120px;
  }
  .tab-wrapper .tab-item {
    padding-top: 18px;
  }
  .title_image {
    padding: 70px 15px;
    font-size: 8px;
    line-height: 10px;
  }
  .item_video {
    top: 50px;
    width: 15px;
    height: 15px;
    background-size: 100%;
  }
  .zoom_button {
    margin: 47px 22px;
    padding: 0 15px 3px 15px;
  }
  .zoom_button a {
    font-size: 7px;
  }
}
/* фото и видео */

/* блок "наши новости и советы" */
.column__news {
  display: inline-block;
  position: relative;
  font-family: "Nunito", sans-serif;
}

.section__news .subtitle__services {
  color: #32495e;
}

.block__news {
  display: inline-block;
  /* position: absolute; */
  top: 155px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e95258;
  color: #f9f9f9;
  height: 172px;
}

.block__bg {
  background-color: #e95258;
  height: 172px;
  color: #f9f9f9;
  margin: 0;
}

.column__news {
  display: flex;
  flex-direction: column;
  flex: 1 0 25%;
  margin: 5px;
  max-width: 281px;
}

.all {
  color: #f9f9f9;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.section__news .button {
  color: #32495e;
  border-color: #32495e;
}

.link {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 40%;
  height: 17px;
}

.link a {
  text-decoration: none;
  color: #8093ac;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 10px;
}

/* конец блока "наши новости и советы" */

/* рекомендации */
.recommendation {
  padding: 0 15px;
  background: #ffffff;
}

.recommend_container {
  padding: 70px 0;
}

.recommendation h1 {
  margin: 0 0 50px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
}

.recommend_container_images {
  display: flex;
  justify-content: space-between;
}

.recommend_container_images img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .recommend_container {
    padding: 60px 0;
  }
  .recommendation h1 {
    margin: 0 0 26px 0;
    font-size: 34px;
    line-height: 52px;
  }
  .container_images {
    width: 112px;
    height: 112px;
  }
  .recommend_container_images img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 530px) {
  .recommend_container {
    padding: 30px 0;
  }
  .recommendation h1 {
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 26px;
  }
  .container_images {
    width: 44px;
    height: 44px;
  }
  .recommend_container_images img {
    width: 100%;
    height: 100%;
  }
}
/* рекомендации */

/* карта */
.container_map {
  background: #f9f9f9;
  padding: 70px 0;
}

.container_map_container h1,
.contacs h3,
.contacs p {
  font-family: "Nunito", sans-serif;
  color: #32495e;
}

.container_map_container h1 {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
}

.contacs h3 {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.contacs p {
  margin-bottom: -12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contacs {
  display: flex;
  justify-content: left;
}

.contacs_section,
.contacs_section_3 {
  width: 25%;
  margin: 20px 50px 0 0;
}

@media screen and (max-width: 1400px) {
  .map__container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .map__container {
    max-width: 992px;
    /* margin: 0 60px; */
  }
}

@media screen and (max-width: 992px) {
  .map__container {
    max-width: 750px;
    padding: 0 15px;
  }
  .container_map {
    padding: 60px 0;
  }
  .container_map_container h1 {
    margin: 0 0 26px 0;
    font-size: 34px;
    line-height: 52px;
  }

  .contacs h3 {
    font-size: 14px;
    line-height: 17px;
  }

  .contacs p {
    font-size: 12px;
    line-height: 18px;
  }

  .contacs {
    justify-content: space-between;
  }

  .contacs_section,
  .contacs_section_3 {
    width: 31%;
    margin: 26px 0 0 0;
  }
}

@media screen and (max-width: 530px) {
  .map__container {
    max-width: none;
    padding: 0;
  }
  .container_map {
    padding: 0 0 30px 0;
  }
  .container_map_container h1 {
    padding: 30px 15px;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
  }

  .contacs h3 {
    font-size: 10px;
    line-height: 12px;
  }

  .contacs p {
    font-size: 8px;
    line-height: 14px;
  }

  .contacs {
    flex-wrap: wrap;
  }

  .contacs_section {
    width: 40%;
    margin: 20px 0;
    padding: 0 15px;
  }

  .contacs_section_3 {
    flex-grow: 2;
    padding: 0 15px;
    margin: 20px 0;
  }
}
/* конец карты */

.footer {
  display: flex;
  background-color: #333333;
}

.section-one {
}

.section-two {
}
