.container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

/* навбар */
.container_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 50%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #32495e;
}

.logo-image2 {
  width: 70px;
  height: 45px;
  /* margin: 0 10px; */
  background-image: url(../images/logo2.png);
}

.logo-name {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.navbar {
  /* margin: -70px; */
  /* background: transparent; */
  background: #f9f9f9;
}

.container_navbar {
  display: flex;
  justify-content: space-between;
}

.menu_body {
  flex: 50%;
  padding: 0;
}

.menu ul {
  list-style: none;
}

.menu > ul {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 43px;
}

.menu > ul li a {
  display: block;
  padding: 10px 13px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #32495e;
}

.menu a:hover {
  background: #32495e;
  color: #f9f9f9;
  transition: 0.5s ease;
}

.menu li ul {
  display: none;
  position: absolute;
  max-width: 210px;
  background: #f9f9f9;
}

.menu li:hover > ul {
  display: block;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: url(../images/image_menu.png);
  position: absolute;
  margin: 0 7px;
  margin-top: -2px;
}

.close_icon_menu,
.icon_menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu > ul {
    padding: 0;
  }
  .menu > ul li a {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    flex: 30%;
  }

  .logo-name {
    font-size: 17px;
    line-height: 30px;
  }

  .logo-image2 {
    margin: 0;
    background-size: 64.54%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu_body {
    flex: 70%;
  }

  .menu > ul li a {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .icon_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 30px;
    height: 21px;
    right: 0;
    margin: 0 0 0 20px;
    padding: 12px 10px;
    background: #32495e;
  }

  .icon_menu::before,
  .icon_menu::after {
    content: "";
    background: #f1f6ff;
    height: 2px;
    width: 26px;
    z-index: 10;
  }

  .icon_menu span {
    height: 2px;
    width: 26px;
    background: #f1f6ff;
  }

  .close_icon_menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 100%;
    margin: 0 5px 0 20px;
  }

  .close_icon_menu::before,
  .close_icon_menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #32495e;
    z-index: 1;
  }

  .close_icon_menu::before {
    transform: rotate(45deg);
  }

  .close_icon_menu::after {
    transform: rotate(-45deg);
  }

  .menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    max-height: 416px;
    overflow: auto;
    background: #32495e;
  }

  .navbar:target .menu {
    display: block;
  }

  .navbar:target .icon_menu {
    display: none;
  }

  .navbar:target .close-icon_menu {
    display: flex;
  }

  .menu > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 35px 50px 64px;
  }

  .menu > ul li a {
    color: #f1f6ff;
    padding: 13px 0;
  }
}
/* конец навбара */

/* главный экран */
.header_container {
  display: flex;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to right, #e95258 50%, #f9f9f9 50%);
}

.header_container a {
  text-decoration: none;
}

.left_body {
  padding: 135px 100px 100px 0;
}
.right_body {
  padding: 135px 0 100px 100px;
}

.header_left {
  flex-grow: 1;
  /* flex-basis: 50vw; */
  text-align: right;
  background: url(../images/image1.png) no-repeat;
  background-position: left bottom;
  background-size: 60%;
  color: #f9f9f9;
}

.header_right {
  /* flex-basis: 50vw; */
  flex-grow: 1;
  background: url(../images/image2.png) no-repeat;
  background-position: right bottom;
  background-size: 64%;
  color: #32495e;
}

.header_left_h1,
.header_right_h1 {
  width: 85%;
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
}

.header_left_h1 {
  margin-left: auto;
}

.header_left_p,
.header_right_p {
  padding-top: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.header_left_p {
  width: calc(50vw - 80%);
  margin-left: auto;
}

.header_right_p {
  width: calc(50vw - 80%);
}

.header-ul {
  margin: 30px 0 90px 0;
  /* padding: 0 0 0 117px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  list-style-type: circle;
}
.right_ul {
  padding-left: 17px;
}

.li_left {
  list-style: none;
  text-align: right;
}

.li_left:after {
  content: "\25CB";
  padding-left: 10px;
}

.header_left_button,
.header_right_button {
  box-sizing: border-box;
  border-radius: 25px;
  padding: 16px 44px;
  text-align: center;
  background-color: unset;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header_left_button {
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
}

.header_left_button:hover {
  background-color: #f9f9f9;
  color: #e95258;
  transition: 0.5s ease;
}

.header_right_button {
  border: 1px solid #32495e;
  color: #32495e;
}

.header_right_button:hover {
  background: #e95257;
  color: #f1f6ff;
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .header_left_p,
  .header_right_p {
    width: calc(50vw - 60%);
  }
}

@media screen and (max-width: 992px) {
  .header_left {
    background: url(../images/image1_1.png) no-repeat;
    background-position: left bottom;
    background-size: 40%;
  }
  .header_right {
    background: url(../images/image2_2.png) no-repeat;
    background-position: right bottom;
    background-size: 55%;
  }
  .left_body {
    padding: 86px 48px 100px 0;
  }
  .right_body {
    padding: 86px 0 100px 48px;
  }
  .header_left_h1,
  .header_right_h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .header_left_p,
  .header_right_p {
    padding: 26px 0;
    font-size: 12px;
    line-height: 15px;
  }
  .header_left_p,
  .header_right_p {
    width: calc(50vw - 50%);
  }
  .header-ul {
    margin: 0 0 46px 0;
    font-size: 12px;
    line-height: 1.8;
  }
  .header_left_button,
  .header_right_button {
    padding: 13px 30px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 530px) {
  .header_container {
    flex-wrap: wrap;
    background: linear-gradient(#e95258 50%, #f9f9f9 50%);
  }
  .header_left,
  .header_right {
    text-align: left;
    background-image: none;
  }
  .left_body,
  .right_body {
    padding: 30px 15px;
  }

  .header_left_h1,
  .header_right_h1 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .header_left_p,
  .header_right_p {
    width: 90%;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .header-ul {
    /* margin: 25px 0 30px 0; */
    padding: 0 0 0 17px;
    font-size: 12px;
    line-height: 15px;
  }
  .header-ul li {
    margin-bottom: 8px;
  }
  .li_left {
    list-style: circle;
    text-align: left;
  }
  .li_left:after {
    content: none;
  }
  .header_left_button,
  .header_right_button {
    font-size: 12px;
    line-height: 15px;
  }
}
/* конец главного экрана */

/* страница услуга1 */
.main_usluga1 {
  background: #f9f9f9 url(../images/image_bg_usluga1.png) no-repeat;
  background-size: 57%;
  background-position: right 80%;
}

.usluga_body {
  width: calc(100vw - 70%);
}

.main_usluga_container {
  padding: 100px 0;
}

.main_usluga_container h1 {
  width: 75%;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
}

.usluga-1 {
  color: #32495e;
}

.main_usluga_container p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.usluga-ul {
  padding: 29px 15px;
}

.usluga-ul li {
  margin: 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  list-style-type: circle;
}

.header_button {
  padding: 16px 30px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 25px;
  background: unset;
}

.button_usluga1 {
  border: 1px solid #32495e;
  color: #32495e;
  text-decoration: none;
  cursor: pointer;
}

.button_usluga1:hover {
  background: #e95257;
  color: #f9f9f9;
  transition: 0.5s;
}

.usluga_content {
  display: flex;
  background: linear-gradient(to right, #32495e 50%, #f9f9f9 50%);
}

.image_usluga_content {
  flex-grow: 1;
  align-self: center;
  padding: 60px 0;
}

.image_usluga_content img {
  width: 50vw;
  height: 80vh;
  object-fit: cover;
}

.text_usluga_content {
  flex-grow: 1;
  padding: 60px 0 0 0;
}

.text_usluga_content p {
  margin: 0 0 40px 0;
  padding: 0 22% 0 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #32495e;
}

@media screen and (max-width: 1400px) {
  .main__container {
    max-width: 1200px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1200px) {
  .main_usluga1 {
    background-size: 50%;
  }
  .main__container {
    max-width: 992px;
    padding: 0 15px;
  }
  .usluga_body {
    width: calc(100vw - 60%);
  }
  .main_usluga_container {
    padding: 70px 0;
  }
  .main_usluga_container h1 {
    width: 90%;
    font-size: 44px;
  }
  .usluga-ul {
    padding: 10px 15px;
  }
  .image_usluga_content {
    padding: 40px 0;
  }
  .text_usluga_content {
    padding: 40px 0;
  }
  .text_usluga_content p {
    margin: 0 0 30px 0;
    padding: 0 20% 0 50px;
  }
}

@media screen and (max-width: 992px) {
  .main__container {
    max-width: 750px;
  }
  .usluga_body {
    width: calc(100vw - 50%);
  }
  .main_usluga_container {
    padding: 60px 0;
  }
  .main_usluga_container h1 {
    width: 100%;
    font-size: 34px;
    line-height: 50px;
  }
  .main_usluga_container p {
    margin: 0;
    font-size: 12px;
  }
  .usluga-ul {
    margin: 10px 0;
  }
  .header_button {
    padding: 14px 25px;
  }
  .usluga_content {
    display: block;
    background: none;
  }
  .image_usluga_content {
    padding: 40px 0;
    background: #32495e;
  }
  .image_usluga_content img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
  }
  .text_usluga_content {
    padding: 30px 15px;
  }
  .text_usluga_content p {
    margin: 0 0 30px 0;
    padding: 0 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 530px) {
  .main_usluga1,
  .main_usluga2 {
    background-image: none;
  }
  .main__container {
    max-width: none;
  }
  .usluga_body {
    width: 90%;
  }
  .main_usluga_container {
    padding: 40px 0;
  }
  .main_usluga_container h1 {
    width: 100%;
    font-size: 26px;
    line-height: 35px;
  }
  .image_usluga_content {
    padding: 30px 0;
  }
  .text_usluga_content {
    padding: 30px 0 0 0;
  }
  .text_usluga_content p {
    margin: 0 0 30px 0;
    padding: 0 15px;
    font-size: 12px;
  }
}
/* страница услуга1 */

/* страница услуга2 */
.main_usluga2 {
  background: #e95258 url(../images/image_bg_usluga2.png) no-repeat;
  background-size: 38%;
  background-position: right bottom;
}

.usluga-2 {
  color: #f3f5fa;
}

.button_usluga2 {
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  text-decoration: none;
  cursor: pointer;
}

.button_usluga2:hover {
  background: #f9f9f9;
  color: #e95258;
  transition: 0.5s;
}

/* страница услуга2 */

/* страница о нас */
.about_us {
  padding: 130px 400px 57px 115px;
  background: url(../images/image_about_us.png);
}

.about_us h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  color: #f3f5fa;
}

.about_us_container {
  display: flex;
  font-family: "Nunito", sans-serif;
}

.content_about_us {
  flex-grow: 1;
  padding: 60px 180px 60px 60px;
  background: #32495e;
}

.content_about_us h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
}

.content_about_us p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}

.text_about_us {
  flex-grow: 1;
  padding: 39px 180px 39px 60px;
  background: #0e2942;
}

.text_about_us p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #8093ac;
}

.why_we {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #8093ac;
}

/*  блок "наши услуги" */

.columns__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 20px;
  margin-right: 0;
}

.subtitle__services {
  margin-top: 70px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
}

.section {
  width: 100%;
  height: 100%;
  color: #f9f9f9;
}

.section__services {
  background-color: #32495e;
  font-family: "Nunito", sans-serif;
}

.container__services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.services__columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .services__columns {
    max-width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .services__columns {
    max-width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .services__columns {
    max-width: none;
  }
}

.image {
  width: 100%;
  max-height: 240px;
}

.services__column {
  position: relative;
  display: block;
  margin: 5px;
  max-width: 279px;
  cursor: pointer;
}

.hover__item_first,
.hover__item_second,
.hover__item_third,
.hover__item_fourth {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 73, 94, 0.6);
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.hover__title {
  background-color: #e95258;
  height: 50%;
}

.services__column:hover .hover__item_first {
  opacity: 1;
}

.services__column:hover .hover__item_second {
  opacity: 1;
}

.services__column:hover .hover__item_third {
  opacity: 1;
}

.services__column:hover .hover__item_fourth {
  opacity: 1;
}

.hover__item_first::before {
  content: url("assets/styles/Vector6.svg");
  display: flex;
  margin: auto;
}

.hover__item_second::before {
  content: url("assets/styles/Vector8.svg");
  display: flex;
  margin: auto;
}

.hover__item_third::before {
  content: url("assets/styles/Vector7.svg");
  display: flex;
  margin: auto;
}

.hover__item_fourth::before {
  content: url("assets/styles/Vector9.svg");
  display: flex;
  margin: auto;
}

.button {
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 70px;
  margin-top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 160px;
  height: 50px;
  background: transparent;
  color: #f9f9f9;
}

.button:hover {
  background-color: #e95258;
  transition: background-color 0.6s;
}

.container__button {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

/* конец блока "наши услуги" */

/* наши специалисты */

h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
}

p {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.container-specialists {
  display: block;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.container-specialists__specialists {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 60px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doc {
  width: 22%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.doc > h3 {
  margin-top: 30px;
}

.container-specialists__adaptive {
  display: none;
}

@media (max-width: 1200px) {
  .container-specialists__specialists {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container-specialists__specialists {
    display: none;
  }

  .container-specialists__adaptive {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px 60px 15px;
    display: block;
  }

  .doc-top {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .doc {
    width: 32%;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
  }

  .doc-bottom {
    height: 30%;
    padding-top: 26px;
    display: flex;
    justify-content: center;
  }

  .button-more {
    padding: 13px 27px 13px 27px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    background-color: #f9f9f9;
    color: #32495e;
    border: 1px solid #32495e;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .container-specialists__specialists {
    max-width: 970px;
  }

  .container-specialists__adaptive {
    max-width: none;
    margin: 0;
    padding: 0 15px 30px 15px;
    display: block;
    justify-content: center;
  }

  .doc {
    width: 90%;
    padding-top: 30px;
  }

  .doc > h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}
/* конец блока Наши специалисты */

/*Прайс лист*/
.pricelist h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 800 bolder;
  text-transform: uppercase;
}

.container-pricelist {
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.pricelist {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 15px 40px 15px;
  display: block;
}

.pricelist-top {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
}

.name1,
.name2,
.price1,
.price2 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.service-top,
.cost-top {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.service,
.cost {
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.service {
  color: #8093ac;
}

.pricelist-bottom {
  height: 30%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.button-service {
  padding: 16px 44px 16px 44px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  color: #32495e;
  border: 1px solid #32495e;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .pricelist {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .pricelist {
    max-width: 750px;
    padding: 60px 15px 60px 15px;
  }

  .pricelist h1 {
    margin-bottom: 26px;
    font-size: 34px;
  }

  .name2,
  .price2 {
    display: none;
  }

  .service-top,
  .cost-top {
    padding-bottom: 26px;
    font-size: 12px;
    line-height: 15px;
  }

  .service,
  .cost {
    padding-bottom: 14px;
    font-weight: 500 bold;
    font-size: 14px;
    line-height: 17.43px;
  }

  .pricelist-bottom {
    padding-top: 12px;
  }

  .button-service {
    padding: 12px 30px 12px 30px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .pricelist {
    max-width: none;
    padding: 30px 30px 30px 15px;
  }

  .pricelist h1 {
    margin-bottom: 26px;
    font-size: 30px;
  }

  .name2,
  .price2 {
    display: none;
  }

  .service-top,
  .cost-top {
    padding-bottom: 30px;
    line-height: 15px;
  }

  .service,
  .cost {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.94px;
  }

  .pricelist-bottom {
    display: none;
  }
}
/*конец блока Прайс лист*/

/* фото и видео */
.content {
  padding: 70px 0 0 0;
  position: relative;
  z-index: 0;
  background-color: #32495e;
}

.content::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 100%;
  top: 0;
  right: 14.36%;
  z-index: -1;
  background: #49647d;
}
.content::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 100%;
  top: 0;
  right: 22.79%;
  z-index: -1;
  background: #49647d;
}

.tab-container h1 {
  margin: 0;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #f9f9f9;
}

.tab-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tab-wrapper .tab-item,
.tab-wrapper input {
  display: none;
}

.tab-wrapper .tab-item {
  padding-top: 45px;
  order: 1;
}

.tab-wrapper label {
  padding: 0 0 4px 0;
  margin: 20px 40px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}

.tab-wrapper label:hover {
  color: #e95258;
  transition: 0.2s;
}

.tab-wrapper input:checked + label {
  border-bottom: 1px solid #e95258;
}

.tab-wrapper input:checked + label + .tab-item {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  display: flex;
}

.item_image {
  position: relative;
  width: 291px;
  height: 180px;
}

.item_video {
  position: absolute;
  display: block;
  top: 78.44px;
  left: 25.44px;
  width: 24px;
  height: 24px;
  background: url(../images/image_video.png);
  z-index: 1;
}

.item_image:hover .item_video {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #32495e;
  opacity: 0.6;
}

.item_image:hover .overlay {
  display: none;
}

.item_image img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title_image {
  position: absolute;
  padding: 100px 20px 22px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
  opacity: 0.8;
  z-index: 1;
}

.item_image:hover .title_image {
  display: none;
}

.zoom_button {
  position: absolute;
  display: none;
  padding: 21px 45px;
  margin: 60px 67px;
  background: #32495e9a;
  border: 2px solid #f9f9f9b1;
  box-sizing: border-box;
  border-radius: 54px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #f9f9f9;
  cursor: pointer;
  /* z-index: 1; */
}

.item_image:hover .zoom_button {
  display: block;
  /* opacity: 1; */
}

.button__container {
  text-align: center;
}

.tab-container_button {
  margin: 40px auto;
  padding: 16px 36px;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: unset;
  color: #f9f9f9;
  cursor: pointer;
}

.tab-container_button:hover {
  background-color: #e95258;
  transition: 0.5s;
}

@media screen and (max-width: 1400px) {
  .content__container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .content__container {
    max-width: 992px;
    padding: 0 15px;
  }
  .tab-item {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .content {
    padding: 60px 0;
  }
  .content::after {
    width: 5%;
  }
  .content::before {
    width: 5%;
  }
  .tab-container {
    padding: 0;
  }
  .tab-wrapper label {
    margin: 26px 40px 0 0;
  }
  .item_image {
    width: 184px;
    height: 180px;
  }
  .tab-container h1 {
    font-size: 34px;
  }
  .tab-wrapper .tab-item {
    padding-top: 30px;
  }
  .title_image {
    padding-left: 15px;
    font-size: 14px;
  }
  .item_video {
    left: 15px;
  }
  .zoom_button {
    margin: 72px 33px;
    padding: 12px 27px;
  }
  .zoom_button a {
    font-size: 12px;
  }
  .tab-container_button {
    margin: 26px 0 0 0;
    padding: 12px 27px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 530px) {
  .content {
    padding: 30px 0 0 0;
  }
  .content__container {
    padding: 0;
  }
  .tab-wrapper {
    justify-content: center;
  }
  .tab-container h1 {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }
  .tab-wrapper label {
    margin: 15px 30px 0;
    font-size: 12px;
    line-height: 15px;
  }
  .item_image {
    width: 107px;
    height: 120px;
  }
  .tab-wrapper .tab-item {
    padding-top: 18px;
  }
  .title_image {
    padding: 70px 15px;
    font-size: 8px;
    line-height: 10px;
  }
  .item_video {
    top: 50px;
    width: 15px;
    height: 15px;
    background-size: 100%;
  }
  .zoom_button {
    margin: 47px 22px;
    padding: 0 15px 3px 15px;
  }
  .zoom_button a {
    font-size: 7px;
  }
}
/* фото и видео */

/* блок "наши новости и советы" */
.column__news {
  display: inline-block;
  position: relative;
  font-family: "Nunito", sans-serif;
}

.section__news .subtitle__services {
  color: #32495e;
}

.block__news {
  display: inline-block;
  /* position: absolute; */
  top: 155px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e95258;
  color: #f9f9f9;
  height: 172px;
}

.block__bg {
  background-color: #e95258;
  height: 172px;
  color: #f9f9f9;
  margin: 0;
}

.column__news {
  display: flex;
  flex-direction: column;
  flex: 1 0 25%;
  margin: 5px;
  max-width: 281px;
}

.all {
  color: #f9f9f9;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.section__news .button {
  color: #32495e;
  border-color: #32495e;
}

.link {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 40%;
  height: 17px;
}

.link a {
  text-decoration: none;
  color: #8093ac;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 10px;
}

/* конец блока "наши новости и советы" */

/* рекомендации */
.recommendation {
  padding: 0 15px;
  background: #ffffff;
}

.recommend_container {
  padding: 70px 0;
}

.recommendation h1 {
  margin: 0 0 50px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #32495e;
}

.recommend_container_images {
  display: flex;
  justify-content: space-between;
}

.recommend_container_images img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .recommendation__container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .recommendation__container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .recommendation__container {
    max-width: 750px;
  }
  .recommend_container {
    padding: 60px 0;
  }
  .recommendation h1 {
    margin: 0 0 26px 0;
    font-size: 34px;
    line-height: 52px;
  }
  .container_images {
    width: 112px;
    height: 112px;
  }
  .recommend_container_images img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 530px) {
  .recommend_container {
    padding: 30px 0;
  }
  .recommendation h1 {
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 26px;
  }
  .container_images {
    width: 44px;
    height: 44px;
  }
  .recommend_container_images img {
    width: 100%;
    height: 100%;
  }
}
/* рекомендации */

/* карта */
.container_map {
  background: #f9f9f9;
  padding: 70px 0;
}

.container_map_container h1,
.contacs h3,
.contacs p {
  font-family: "Nunito", sans-serif;
  color: #32495e;
}

.container_map_container h1 {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
}

.contacs h3 {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.contacs p {
  margin-bottom: -12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contacs {
  display: flex;
  justify-content: left;
}

.contacs_section,
.contacs_section_3 {
  width: 25%;
  margin: 20px 50px 0 0;
}

@media screen and (max-width: 1400px) {
  .map__container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .map__container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .map__container {
    max-width: 750px;
    padding: 0 15px;
  }
  .container_map {
    padding: 60px 0;
  }
  .container_map_container h1 {
    margin: 0 0 26px 0;
    font-size: 34px;
    line-height: 52px;
  }
  .contacs h3 {
    font-size: 14px;
    line-height: 17px;
  }
  .contacs p {
    font-size: 12px;
    line-height: 18px;
  }
  .contacs {
    justify-content: space-between;
  }
  .contacs_section,
  .contacs_section_3 {
    width: 31%;
    margin: 26px 0 0 0;
  }
}

@media screen and (max-width: 530px) {
  .map__container {
    max-width: none;
    padding: 0;
  }
  .container_map {
    padding: 0 0 30px 0;
  }
  .container_map_container h1 {
    padding: 30px 15px;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
  }
  .contacs h3 {
    font-size: 10px;
    line-height: 12px;
  }
  .contacs p {
    font-size: 8px;
    line-height: 14px;
  }
  .contacs {
    flex-wrap: wrap;
  }
  .contacs_section {
    width: 40%;
    margin: 20px 0;
    padding: 0 15px;
  }
  .contacs_section_3 {
    flex-grow: 2;
    padding: 0 15px;
    margin: 20px 0;
  }
}
/* конец карты */

/*футер*/

.footer h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.container_dark {
  display: block;
  box-sizing: border-box;
  background-color: #333333;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px;
  display: block;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f9f9f9;
}

.footer__top {
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.footer__top .logo {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.logo-image4 {
  max-width: 100%;
  box-sizing: border-box;
}

.logo-name {
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  justify-content: start;
  align-self: baseline;
}

.footer__column-about,
.footer__column-connect {
  width: 20%;
  display: block;
}

.about-connect {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-connect__item,
.social {
  padding-bottom: 10px;
}

.about-connect > li > a {
  text-decoration: none;
  color: #f9f9f9;
}

.social {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social__facebook,
.social__google {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 9.5px;
}

.social__facebook {
  background-image: url(../images/social1.svg);
}

.social__google {
  background-image: url(../images/social2.svg);
}

.footer__box-up {
  width: 30%;
  display: flex;
  justify-content: end;
}

.scroll-to-top {
  display: block;
}

.footer__box-up > a {
  text-decoration: none;
  color: #f9f9f9;
}

.up {
  display: block;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.footer__bottom {
  height: 20%;
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .footer {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .footer {
    max-width: 750px;
    padding: 60px 15px;
    font-size: 12px;
  }

  .footer__top h3 {
    margin-bottom: 26px;
    font-size: 14px;
  }

  .footer__top .logo {
    width: 35%;
  }

  .footer__column-about {
    width: 30%;
  }

  .footer__column-connect {
    width: 20%;
  }

  .about-connect__item,
  .social {
    padding-bottom: 14px;
  }

  .footer__box-up {
    width: 15%;
  }

  .up {
    font-size: 12px;
  }

  .footer__bottom {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: none;
    margin: 0;
    padding: 30px 15px;
    display: block;
    justify-content: start;
    font-size: 10px;
  }

  .footer__top {
    height: min-content;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .footer__top .logo {
    width: 85%;
    order: 1;
    display: flex;
  }

  .footer__box-up {
    width: 12%;
    order: 2;
    display: flex;
  }

  .up {
    display: none;
  }

  .footer__column-about {
    width: 40%;
    order: 3;
  }

  .footer__column-connect {
    width: 40%;
    order: 4;
  }
}
